@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif; /* Set Montserrat as the default font */
}

@layer components {
}

.swiper-pagination {
  padding: 10px;
  margin-bottom: -20px !important; /* Adjust spacing as needed */
  position: relative;
  margin: 10px; /* Keeps it below the slider */
}

.swiper-pagination {
  position: relative !important;
}
.swiper {
  margin-top: 100px !important;
  margin-bottom: 100px;
}
